
aclocal.m4
awf.spec
compile
configure
config.log
config.status
depcomp
install-sh
missing
Makefile
Makefile.in
README

autom4te.cache/

icons/Makefile
icons/Makefile.in
icons/16x16/Makefile
icons/16x16/Makefile.in
icons/22x22/Makefile
icons/22x22/Makefile.in
icons/24x24/Makefile
icons/24x24/Makefile.in
icons/32x32/Makefile
icons/32x32/Makefile.in
icons/48x48/Makefile
icons/48x48/Makefile.in
icons/64x64/Makefile
icons/64x64/Makefile.in
icons/128x128/Makefile
icons/128x128/Makefile.in
icons/scalable/Makefile
icons/scalable/Makefile.in

src/Makefile
src/Makefile.in
src/.deps/

src/awf-gtk2
src/awf-gtk3
src/*.o
