[Desktop Entry]
Name=A widget factory
Comment=A widget factory - a theme preview application for gtk2 and gtk3
Exec=awf-gtk2
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;GTK
Icon=awf
