a{
	color:#000;
	text-decoration:none;
}
a:hover{
	background-color:#333;
	color:#FFF;
}
a:active{
}
h1{
	font-weight: lighter;
	font-size:20px;
	color:#999;
	font-variant:small-caps;
	margin-left:12px;
}
h2 {
	color: #333;
	font-weight: lighter;
	font-size:15px;
	padding:0px;
	margin:0px;
}
h3{
	font-size:13px;
	font-weight: lighter;
	padding:0px;
	margin:0px;
}
p{
	font-weight: lighter;
	font-size:13px;
}
li{
	font-weight: lighter;
	font-size:13px;
}
