@charset "UTF-8";
/* CSS Document */

body {
	font-family: "Courier New";
	text-align:center;
	padding:0px;
	margin:0px;
}
#container{
	text-align:left;
	width:800px;
	padding-left:20px;
	padding-right:20px;
	margin:auto;
}
#nav{
	font-family: "Comic Sans MS";
	background-color:#EFF2FB;
	height:30px;
}
#navContainer{
	top:0px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}
.navText{
	font-size:10px;
	padding-right:20px;
	display:inline-block;
	float:right;
}
.title{
	clear:both;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.projectShowCase{
	margin-top:5px;
	margin-left:10px;
	float:left;
}
.prjectDescription{
	margin-top:5px;
	width:280px;
	padding-left:20px;
	float:right;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #CCC;
}
.thumb{
	margin-top:15px;
	padding-right:8px;
	padding-left:8px;
	float:left;
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #CCC;
}
.thumb img{
	border:none;
}
.prjectDescription a{
	background-color:#FFF;
	border:none;
}
.prjectDescription a:hover{
	background-color:#CCC;
	
}
.prjectDescription a:active{
	background-color:#CCC;

}
#footer{
	clear:both;
	background-color:#EFF2FB;
	height:30px;
	padding-right:10px;
	width:790px;
}
.contact{
	color:#666;
	margin-top:5px;
	bottom:2px;
	font-size:10px;
	float:right;
	padding-left:10px;
	margin-right:20px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #666;
}
.floatright{
	color:#666;
	margin-top:10px;
	float:left;
	margin-left:10px;
}
